---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

This portfolio showcases my passion projects, pursued for personal enjoyment and distinct from my professional work as a bioinformatics scientist. Of course, I also have fun in my day-to-day work, but since I'm not the sole owner and developer of the bioinformatics scientific projects, those are not in this section but in the <a href="publications.md" target="_blank">Publications</a> page (or are yet to be published).

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

