---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

All of the items in this portfolio were passions projects, done for fun since, and completely unrelated to my work as a bionformatics scientist. Of course, I also have fun in my day-to-day work, but since I'm note the sole owner and developer of the bioinformatics scientific projects, those are not in this section but in <a href="publications.md" target="_blank">Publications</a> page

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

